server = "https://thewhitelion.kilnhg.com/Repo/{project_name}/Group/{trunk_name}"
username = "blancolioni@gmail.com"
temp_path = "/tmp"
install_path = "/usr/local/lib/alix"
exec_path = "/usr/local/bin"
hg = "hg"
gnatmake = "gprbuild"
wget = "/usr/bin/wget"
executable_extension = ".exe"
repository_url = "http://dl.dropbox.com/u/51126264/alix"

configure = {
  builder_option = "-g"
  builder_option = "-k"
  builder_option = "-s"
  builder_option = "-j2"
  compiler_option = "-g"
  compiler_option = "-gnatwae.wl"
  compiler_option = "-gnata"
  compiler_option = "-gnato"
  compiler_option = "-gnaty3abcefhiklmnoprstOSuxBA"
  compiler_option = "-gnat2012"
  compiler_option = "-fstack-check"
  linker_option = "-g"
}

install = {
  builder_option = "-k"
  builder_option = "-s"
  builder_option = "-j2"
  compiler_option = "-gnatwa"
  compiler_option = "-gnat2012"
  compiler_option = "-O3"
  compiler_option = "-gnaty3abcefhiklmnoprstOSuxBA"
  compiler_option = "-gnatp"
}
