server = "https://thewhitelion.kilnhg.com/Repo/{project_name}/Group/{trunk_name}"
username = "blancolioni@gmail.com"
temp_path = "/tmp"
install_path = "/home/fraser/alix"
exec_path = "/home/fraser/bin"
hg = "/usr/bin/hg"
gnatmake = "/usr/gnat/bin/gnatmake"
builder_option = "-g"
builder_option = "-k"
compiler_option = "-g"
compiler_option = "-gnatwa"
compiler_option = "-gnatyabcefhiklmnoprst"
compiler_option = "-gnat05"
compiler_option = "-gnatVn"
linker_option = "-g"
