gnatmake = "gprbuild"
repository_url = "http://dl.dropbox.com/u/51126264/alix"

configure = {
  builder_option = "-g"
  builder_option = "-k"
  builder_option = "-s"
  builder_option = "-j2"
  compiler_option = "-g"
  compiler_option = "-gnatwae.wl"
  compiler_option = "-gnata"
  compiler_option = "-gnato"
  compiler_option = "-gnaty3abcefhiklmnoprstOSuxBA"
  compiler_option = "-gnat2012"
  compiler_option = "-fstack-check"
  linker_option = "-g"
}

install = {
  builder_option = "-k"
  builder_option = "-s"
  builder_option = "-j2"
  compiler_option = "-gnatwa"
  compiler_option = "-gnat2012"
  compiler_option = "-O3"
  compiler_option = "-gnaty3abcefhiklmnoprstOSuxBA"
  compiler_option = "-gnatp"
}
